
  @font-face {
    font-family: Chandiluna;
    src: url(./customize_font/Chandiluna/Chandiluna.ttf);
  }

  @font-face {
    font-family: heysweet;
    src: url(./customize_font/heysweet/heysweet.ttf);
  }

  @font-face {
    font-family: MelanieRoselyn;
    src: url(./customize_font/MelanieRoselyn/MelanieRoselyn.ttf);
  }
  