/node_modules
/public/images/*
/public/DOSSIERS/images/
/public/storage
/storage/*.key
/vendor
/public/TCPDFCustomize/DOSSIERS/
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/pdf_description
