ul > li > a{
    font-size:20px;   
    border:none!important;
}
ul > li > a.active{
  color:white!important;
  background-color:  #38c172!important;;
}
ul{
  border:none!important;
}
#navMenuBar{
    background-color: #38c172!important;
    /* background-color: bisque!important; */
}
#menuBar > li{
    background-color: #38c172!important;
    /* background-color: bisque!important; */
}

